In [1]:
# import libraries
import os
import csv
import pandas

In [13]:
#  import budget_data.csv , use the dataframe generated
dates_pnl = pandas.read_csv('budget_data.csv')

In [14]:
dates_pnl

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [15]:
#  TOTAL NUMBER OF MONTHS IN DATA SET

    # extract a list of all the values under the header "Date" and place in a new list
months_list = list(dates_pnl['Date'])

    # calculate the number of values in the list of months
number_months = len(list(dates_pnl['Date']))

In [16]:
#  NET TOTAL PROFIT/LOSSES OVER THE ENTIRE PERIOD

    # extract values under the header "Profit/Losses" and place in a new list
pnl_list = list(dates_pnl['Profit/Losses'])

    # calculate sum of the Profit/Loss values
net_pnl = sum(pnl_list)

In [5]:
# AVERAGE OF THE CHANGES IN PROFIT/LOSSES OVER THE ENTIRE PERIOD

# Initialize list to store values for monthly change in Profit and Loss
pnl_monthlychange = []
previousmonth_pnlchange = 0

for i in range(len(pnl_list)):
    if i == 0:
        previousmonth_pnlchange = pnl_list[i]
    else:
        monthly_pnlchange = pnl_list[i] - pnl_list[i-1]
        pnl_monthlychange.append(monthly_pnlchange)
    
#     calculate average change in P/L
average_change_monthlyPL = round(sum(pnl_monthlychange)/len(pnl_monthlychange), 2)
avg_change_monthlyPL = average_change_monthlyPL

In [10]:
# * The greatest increase in profits (date and amount) over the entire period.

best_month_profit_increase = max(pnl_monthlychange)
date_best_profit_increase = months_list[pnl_monthlychange.index(best_month_profit_increase) +1]

# * The greatest decrease in losses (date and amount) over the entire period.
worst_month_profit_decrease = min(pnl_monthlychange)
date_worst_month_profit_decrease = months_list[pnl_monthlychange.index(worst_month_profit_decrease) +1]

print (date_best_profit_increase)
print (best_month_profit_increase)

print (date_worst_month_profit_decrease)
print (worst_month_profit_decrease)

Feb-2012
1926159
Sep-2013
-2196167

In [11]:
#  PRINT STATEMENTS
print(f"Financial Analysis")

print(f"-------------------------------")

print(f"There are {number_months} months in the data set.")

print(f"The net total Profit/Loss over the entire period was ${net_pnl}.")

print(f"The average change in Profit/Loss over the entire period was $ {round(average_change_monthlyPL, 2)}")

print(f"The greatest increase in Profits/Losses was $ {best_month_profit_increase} in {date_best_profit_increase}.")
      
print(f"The greatest decrease in Profits/Losses was $ {worst_month_profit_decrease} in {date_worst_month_profit_decrease}.")

Financial Analysis
-------------------------------
There are 86 months in the data set.
The net total Profit/Loss over the entire period was $38382578.
The average change in Profit/Loss over the entire period was $ -2315.12
The greatest increase in Profits/Losses was $ 1926159 in Feb-2012.
The greatest decrease in Profits/Losses was $ -2196167 in Sep-2013.

In [12]:
# write the analysis to a new text file

with open('python-homework-textfile.txt', 'w') as file:
    file.write("Financial Analysis"+ "\n")
    file.write("------------------------------- \n")
    file.write("Total Months: " + str(number_months) + "\n")
    file.write("Net Profit/Loss: " + "$ " + str(net_pnl) + "\n")
    file.write("Avg. Change: " + "$" +  str(avg_change_monthlyPL) + "\n")
    file.write("Greatest Increase :"  + "$ " + str(best_month_profit_increase)  + " in " + str(date_best_profit_increase) + "\n")
    file.write("Greatest Decrease: " + "$ " + str(worst_month_profit_decrease) + " in " + str(date_worst_month_profit_decrease) + "\n")
    file.write("-------------------------------")